body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 10px;
}

h2 {
    color: #34495e;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p {
    max-width: 8000px;
    margin-bottom: 10px;
    text-align: justify;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p:last-of-type {
    font-style: italic;
    color: #555;
}