body, h1, h3, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4faff;
    color: #333;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

h3 {
    color: #1c5980;
    margin-top: 20px;
    margin-bottom: 8px;
}

p {
    max-width: 800px;
    background-color: #ffffff;
    padding: 12px;
    border-left: 5px solid #2980b9;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: justify;
}

strong {
    color: #c0392b;
}

br {
    display: none;
}


h3 + p {
    margin-top: 5px;
}